#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;  
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-position: center;
    align-content: center;    
}

.listadoEventos{
    background-color: #fefefe;
    width: auto; /* Could be more or less, depending on screen size */
    padding: 25px;
}

.grid-container > div { 
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalDetalle {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.modalL {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-contentL {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: auto; /* Could be more or less, depending on screen size */
    animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)};

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)};

}

.modalDetalle-content {
    margin:auto auto;background-color:#fff;position:relative;padding:25px;outline:0;width:50%;height:30%;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)};
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{color:#fff!important;background-color:#f44336!important}
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button... pero del listado */
.closeL {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeL:hover{color:#fff!important;background-color:#f44336!important}
.closeL:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeD {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeD:hover{color:#fff!important;background-color:#f44336!important}
.closeD:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}